
form{
  input{
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    @extend .is-w-100;
    @extend .is-px-26;
    @extend .is-py-15;
    @extend .is-fz-16;
  }

}


.link-more-category{
  color: $verde;
  svg{
    width: 24px;
    height: 24px;
    color: $verde;
  }
}

.loading-post{
  font-size: 18px;
  line-height: 120.47%;
  text-align: center;
  color: #6F6F6F;
  font-weight: 100;
}
