@font-face {
  font-family: 'Effra';
  src: url('#{$font-folder}/Effra-Medium.woff2') format('woff2'),
      url('#{$font-folder}/Effra-Medium.woff') format('woff'),
      url('#{$font-folder}/Effra-Medium.svg#Effra-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra';
  src: url('#{$font-folder}/Effra-Bold.woff2') format('woff2'),
      url('#{$font-folder}/Effra-Bold.woff') format('woff'),
      url('#{$font-folder}/Effra-Bold.svg#Effra-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra';
  src: url('#{$font-folder}/Effra-Regular.woff2') format('woff2'),
      url('#{$font-folder}/Effra-Regular.woff') format('woff'),
      url('#{$font-folder}/Effra-Regular.svg#Effra-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra';
  src: url('#{$font-folder}/Effra-Light.woff2') format('woff2'),
      url('#{$font-folder}/Effra-Light.woff') format('woff'),
      url('#{$font-folder}/Effra-Light.svg#Effra-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra';
  src: url('#{$font-folder}/Effra-Heavy.woff2') format('woff2'),
      url('#{$font-folder}/Effra-Heavy.woff') format('woff'),
      url('#{$font-folder}/Effra-Heavy.svg#Effra-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

