//
$desktop-full: "only screen and (max-width : 1140px)";
$desktop-m-full: "only screen and (min-width : 1140px)";
$desktop: "only screen and (max-width : 1024px)";
$desktop-m: "only screen and (min-width : 1024px)";
$tablet: "only screen and (max-width : 770px)";
$tablet-m: "only screen and (min-width : 770px)";
$mobile: "only screen and (max-width : 600px)";
$mobile-m: "only screen and (min-width : 600px)";
$mobile-sm: "only screen and (max-width : 480px)";
$mobile-m-sm: "only screen and (min-width : 480px)";

//
@mixin breakpoint($size) {
  @if $size == mobile {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}
