
html, body{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  background-color: $cor_primaria;
  font-family: 'Effra';
  font-size: #{$font-size-base}px;
  p{
    font-family: 'Effra';
    font-size: #{$font-size-base}px;
  }
}

/*
* Manter footer sempre no final da pagina
* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/

#site{

  position: relative;
  min-height: 100vh;

  main{
    padding-bottom: toRem(500);
    @media #{$desktop} {
      padding-bottom: toRem(20);
    }

  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @media #{$desktop} {
      position: relative;
    }
  }


  &::before {
    content: '';
    display: block;
    background-color: #D6DFC5;
    background: rgb(242,219,203);
    background: -moz-linear-gradient(0deg, rgba(242,219,203,1) 50%, rgba(214,223,197,1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(242,219,203,1) 50%, rgba(214,223,197,1) 50%);
    background: linear-gradient(0deg, rgba(242,219,203,1) 50%, rgba(214,223,197,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2dbcb",endColorstr="#d6dfc5",GradientType=1);
    width: 10px;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &::after {
    content: '';
    display: block;
    background: rgb(158,161,135);
    background: -moz-linear-gradient(0deg, rgba(158,161,135,1) 50%, rgba(180,183,160,1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(158,161,135,1) 50%, rgba(180,183,160,1) 50%);
    background: linear-gradient(0deg, rgba(158,161,135,1) 50%, rgba(180,183,160,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9ea187",endColorstr="#b4b7a0",GradientType=1);
    width: 10px;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @media #{$mobile} {
    &::before,
    &::after {
      width: 3px;
    }
  }

}

body{
  @include scrollbars(10px, #9EA187, #D6DFC5);
  ::-moz-selection { background: #F2DBCB; }
  ::selection { background: #F2DBCB; }
  text-shadow: 0px 0px 1px;
}
