
$cor_primaria: #FBFFFB;
$verde: #3B4A22;
$verde_escuro: #292C25;
$cinza: #D7D8DD;
$cinza2: #AEAEAE;
$branco: #fff;

$font-folder: "/wp-content/themes/puravida/resources/assets/fonts/";
$path-svg: "/wp-content/themes/puravida/resources/assets/images/";
$font-size-base: 18;
