//

header{
  .post{
    &-title-single{
      min-width: 55%;
      font-size: 20px;
      line-height: 24px;
      color: #3B4A22;
      font-weight: 100;

      @media #{$mobile} {
        font-size: 16px;
        line-height: initial;

        // ...
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        width: 120px;
      }

      @media (max-width: 240px) {
        width: 48px;
        min-width: auto;
      }

    }
    &-controllers-single {
      div{
        font-weight: 100;
        font-size: 15px;
        line-height: 18px;
        color: #808080;
        margin-left: 40px;
        @media #{$tablet} {
          margin-left: 0px;
        }
      }
      .tx{
        &-espacamento{

          .title{
            @media #{$desktop} {
              display: none;
            }
          }
          .flx{
            text-indent: -99999px;
            font-size: 0;
            width: 26px;
            display: block;
            line-height: initial;
            margin: 0 15px;
            cursor: pointer;
            @media #{$tablet} {
              margin: 0 5px;
              width: 15px;
            }
            &::before,
            &::after{
              content: '';
              display: block;
              width: 100%;
              border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            }

            &.active{
              &::before,
              &::after{
                border-color: #3B4A22;
              }
            }

            &::before{
              color: #353535;
              margin-bottom: 4px;
              @media #{$mobile} {
                margin-bottom: 2px;
              }
            }
            &::after{
              color:#808080;
            }
            &.fl-2{
              &.active{
                &::after{
                  border-top: 2px solid #3B4A22;
                }
              }
              &::after{
                border-top: 2px solid rgba(0, 0, 0, 0.2);
                height: 4px;
                @media #{$mobile} {
                  height: 2px;
                }
              }
            }
          }
        }
        &-tamanho{
          .title{
            @media #{$desktop} {
              display: none;
            }
          }
          .fzx{
            font-size: 20px;
            color: rgba(0, 0, 0, 0.2);
            font-weight: 400;
            width: 26px;
            display: block;
            line-height: initial;
            margin: 0 10px;
            text-align: center;
            cursor: pointer;
            @media #{$tablet} {
              margin: 0 5px;
              width: 15px;
            }
            @media #{$mobile} {
              font-size: 12px;
            }
            &.active{
              color: #3B4A22;
            }
            &.fl-1{
              outline: none;
            }
            &.fl-2{
              font-size: 30px;
              @media #{$mobile} {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.inner-page{

  &.is-fln-1{
    p{
      line-height: toRem(36);
      @media #{$tablet} {
        line-height: toRem(26);
      }
    }
  }
  &.is-fln-2{
    p{
      line-height: toRem(50);
      @media #{$tablet} {
        line-height: toRem(36);
      }
    }
  }

  &.is-fzn-1{
    p{
      @extend .is-fz-20;
      @extend .is-fz-s-14;
    }
  }

  &.is-fzn-2{
    p{
      @extend .is-fz-24;
      @extend .is-fz-s-16;
    }
  }

  p{
    @extend .is-fw-100;
    color: #353535;
    font-family: 'Effra';
    font-style: normal;
  }

  .post{
    &__author{
      @extend .is-align-start;

    }
  }
  h1, h2, h3, h4, h5, h6{
    color: $verde;
    text-transform: uppercase;
    @extend .d-flex;
    @extend .is-justify-start;
    @extend .is-align-center;
    @extend .flex-row;
    @extend .is-my-60;

    &::before,
    &::after{
      content: '';
      display: block;
      width: 0;
      height: 1px;
    }
    &::after{
      border-top: 1px solid #C4C4C4;
      width: 100%;
      @extend .is-ml-50;
    }
  }

  figure{
    padding: 0;
    border-radius: 15px;
    &:not(.gallery-item){
      margin: 60px 0;
      max-width: 100%;
      width: 100% !important;
      figcaption{
        @extend .is-mt-30;
      }
    }
    img{
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 15px;
    }
    figcaption{
      line-height: 166.34%;
      color: #AEAEAE;
      @extend .is-fz-16;
      @extend .is-fw-100;
    }
  }

  .gallery{
    @extend .d-flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    flex-direction: row;
  }
}


.alignfull{
  padding: 0;
  margin: 0;
  width: 100% !important;
  position: relative;
  a{
    display: block;
    width: 100%;
    img{
      width: 100% !important;
      max-width: 100% !important;
      height: auto;
    }
  }
  figcaption{
    position: absolute;
    bottom: 30px;
    z-index: 1;
    left: 30px;
    font-weight: 100;
    font-size: .88889rem;
    color: #fff;
  }
}

