.flex{
  &-wrap{
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
  }
  &-column{
    -ms-flex-direction: column!important;
    flex-direction: column!important;
  }
  &-row{
    -ms-flex-direction: row!important;
    flex-direction: row!important;
  }
  @media #{$tablet} {
    &-s-column{
      -ms-flex-direction: column!important;
      flex-direction: column!important;
    }
  }
}
