.is-justify{
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }

  &-evenly {
    justify-content: space-evenly;
  }
}

.is-mobile-justfy-center {
  @media (max-width: 750px) {
      justify-content: center;
  }
}

.is-wrap {
  flex-wrap: wrap;
  row-gap: 20px;
}
