// Loop sizes
$sizes: (10, 12, 14, 16, 18, 20, 22, 24, 40, 30, 45, 50, 60, 65, 75, 80, 100);
@each $size in $sizes {
  .is-fz-#{$size} {
      font-size: toRem($size);
  }
  @media #{$tablet} {
    .is-fz-t-#{$size} {
      font-size: toRem($size) !important;
    }
  }
  @media #{$mobile} {
    .is-fz-s-#{$size} {
      font-size: toRem($size) !important;
    }
  }
}
