// Loop margins
$spaceamounts: (0, 5, 10, 13, 15, 20, 25, 26, 30, 35, 40, 45, 50, 60, 65, 70, 75, 80, 90, 100, 110, 115, 120, 130, 140, 150);
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {

  .is-m{
    &x-#{$space} {
      margin-left: toRem($space);
      margin-right: toRem($space);
    }
    &y-#{$space} {
      margin-top: toRem($space);
      margin-bottom: toRem($space);
    }
    @media #{$tablet} {
      &x-s-#{$space} {
        margin-left: toRem($space) !important;
        margin-right: toRem($space) !important;
      }
      &y-s-#{$space} {
        margin-top: toRem($space) !important;
        margin-bottom: toRem($space) !important;
      }
    }
  }


  .is-p{
    &x-#{$space} {
      padding-left: toRem($space);
      padding-right: toRem($space);
    }

    &y-#{$space} {
      padding-top: toRem($space);
      padding-bottom: toRem($space);
    }
    @media #{$tablet} {
      &x-s-#{$space} {
        padding-left: toRem($space) !important;
        padding-right: toRem($space) !important;
      }

      &y-s-#{$space} {
        padding-top: toRem($space) !important;
        padding-bottom: toRem($space) !important;
      }
    }
  }

  /**/
  @each $side in $sides {
    .is-m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: toRem($space);
    }

    .is-p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: toRem($space);
    }
    @media #{$tablet} {
      .is-m#{str-slice($side, 0, 1)}-s-#{$space} {
        margin-#{$side}: toRem($space) !important;
      }

      .is-p#{str-slice($side, 0, 1)}-s-#{$space} {
        padding-#{$side}: toRem($space) !important;
      }
    }
  }
}

.is-m{
  &b-auto,
  &y-auto {
    margin-bottom: auto!important;
  }
}
