.is-t-decoration-none{
  text-decoration: none;
}
.is-t-decoration{
  text-decoration: underline;
}
.is-ta{
  &-center{
    text-align: center !important;
  }
  &-left{
    text-align: left !important;
  }
  &-right{
    text-align: right !important;
  }
}
