.is{
  &-w{
    &-auto{
      width: auto;
    }
    &-100{
      width: 100%;
    }
    &-75{
      width: 75%;
    }
    &-50{
      width: 50%;
    }
    &-25{
      width: 25%;
    }
    @media #{$tablet} {
      &s-auto{
        width: auto;
      }
      &s-100{
        width: 100%;
      }
      &s-75{
        width: 75%;
      }
      &s-50{
        width: 50%;
      }
      &s-25{
        width: 25%;
      }
    }
  }
}
