footer{
  background-color: $verde_escuro;
  color: $branco;
  @extend .is-pt-80;
  @extend .is-pb-20;
  z-index: 1;
  a{
    color: $branco;
  }
  hr{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
}
