
.d-flex{
  display: -ms-flexbox!important;
  display: flex!important;
}

.l-common{
  @extend .d-flex;
  &-wrapper {
    @extend .d-flex;
    flex-direction: column;

    width: 1380px;
    margin: 0 auto;
    // padding-left: toRem(15);
    // padding-right: toRem(15);

    @media (max-width: 1440px) {
      width: 1140px;
    }

    @media #{$desktop-full} {
      width: auto;
      max-width: 100%;
      padding-left: toRem(15);
      padding-right: toRem(15);
    }

    @media #{$desktop} {
      width: auto;
      max-width: 100%;
      padding-left: toRem(30);
      padding-right: toRem(30);
    }

    @media #{$mobile} {
      width: auto;
      max-width: 100%;
      padding-left: toRem(15);
      padding-right: toRem(15);
    }

  }
  &-row {
    @extend .d-flex;
    width: 100%;
  }

}
