header{
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.05);
  background-color: $cor_primaria;
  z-index: 2 !important;
  .l-common-wrapper{
    @media (max-width: 1440px) {
      width: 100%;
    }
  }
}
