
/* Article */
.post{
  position: relative;
  width: 100%;
  overflow: hidden;

  &__image{
    padding: 0;
    margin: 0;
    background-size: cover;

    // @media #{$tablet-m} {
    //   background-size: 0%;
    // }
    .desktop{
      @media #{$tablet} {
        // display: none;
        visibility: hidden;
        opacity: 0;
      }
    }
    // .mobile{
    //   display: none;
    //   @media #{$tablet} {
    //     display: block;
    //     opacity: 0;
    //     visibility: hidden;
    //     position: relative;
    //     z-index: -1;
    //   }
    // }
  }
  &__category{
    @extend .is-fz-12;
    @extend .is-ft-uppercase;
    span{
      letter-spacing: 0.515em;
    }
  }
  &__title{
    @extend .is-fz-75;
    @extend .is-fz-s-20;
    // @extend .is-ft-uppercase;
    @extend .is-fw-100;
    @extend .is-my-20;
    @extend .is-py-0;
    @extend .is-w-75;
    color: $verde;
    a{
      color: $verde;
      display: inline-block;
      @extend .is-t-decoration-none;
    }
  }
  &__author{
    @extend .d-flex;
    @extend .is-justify-start;
    @extend .is-align-center;
    &--photo{
      margin-right: 15px;
      width: 30px;
      &.--photoSingle{
        width: initial;
      }
      img{
        border-radius: 100px;
        @extend .img-responsive;
      }
    }
    &--name{
      color: $verde;
      text-decoration: none;
      @extend .is-fz-12;
      @extend .is-fw-100;
      a{
        color: $verde;
        @extend .is-t-decoration-none;
        @extend .is-fw-100;
      }
    }
    .desc{
      @extend .is-fz-16;
      @extend .is-fw-100;
      line-height: 130.34%;
      /* or 20px */

      display: flex;
      align-items: flex-end;

      color: #808080;
    }
  }
  &__date{
    @extend .is-my-20;
    @extend .is-fz-12;
    color: $verde;
  }

  /*Destacado*/
  &--destaque & {
    position: relative;
    z-index: 1;
    &__parent{
      position: absolute;
      top: initial;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 1;
      bottom: 0;
      @extend .is-pt-40;
      @extend .is-pb-80;
      @extend .l-common-wrapper;

      @media (max-width: 1440px) {
        width: 100%;
        // padding-left: toRem(60);
        // padding-right: toRem(60);
        padding-left: 0;
        padding-right: 0;
        left: 0%;
        transform: translate(0%, 0%);
      }

      @media #{$tablet} {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: toRem(30)
      }

      @media #{$mobile} {
        // top: 0;
      }
    }
    &__image{
      min-height: 400px;
      max-height: 736px;
      overflow: hidden;

      background-attachment: fixed;
      // background-position: center;

      background-position: 50% 0;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;

      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

      img{
        opacity: 0;
      }

      &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
      }
    }
    &__category{
      color: $branco;
    }
    &__title{
      color: $branco;
      &::-moz-selection,
      &::selection{background: $verde; }
      line-height: 91.34%;
      a{
        color: $branco;
        line-height: 91.34%;
      }

      @media #{$desktop-full} {
        font-size: toRem(45);
        a{
          font-size: toRem(45);
        }
      }

      @media #{$desktop} {
        font-size: toRem(40);
        a{
          font-size: toRem(40);
        }
      }

      @media #{$mobile} {
        width: 85%;
        font-size: toRem(20);
        a{
          font-size: toRem(20);
        }
      }
    }
    &__author{
      &--name{
        color: $branco;
        a{
          color: $branco;
        }
      }
    }
    &__date{
      color: $branco;
      font-weight: 100;
      line-height: 15px;
      color: rgba(255, 255, 255, 0.5);
    }

    @media (max-width: 1440px) {
      &__category,
      &__title,
      &__author,
      &__date{
        padding-left: toRem(15);
        padding-right: toRem(15)
      };
    }
  }

  &--one {
    .post{
      background: #FFFFFF;
      /* Sombra-Smooth */
      box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
      border-radius: 15px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      // display: inline-block;

      @extend .is-mb-35;

      &__parent{
        @extend .is-pt-10;
        @extend .is-pb-40;
        @extend .is-px-50;
        @extend .is-pt-s-20;
        @extend .is-pb-s-20;
        @extend .is-px-s-20;

        @media #{$tablet} {
        }
      }
      &__title{
        @extend .is-ws-auto;
        @extend .is-fz-30;
        @extend .is-fz-s-16;
        a{
          @extend .is-fz-22;
          @extend .is-fz-s-16;
        }
      }
    }
  }

  // Remover categoria e data
  &--no-cat-date &{
    &__category,
    &__date{
      display: none;
    }
  }
}


// Single-post
body.single-post{
  .post--destaque .post__parent{
    margin-left: 5.3vw;
  }
}

.data-title{
  font-size: toVw(100px);
  // @extend .is-fz-100;
  // @extend .is-fz-s-45;
  @extend .is-fw-100;
  @extend .is-py-0;
  @extend .is-my-0;
  @extend .d-flex;
  @extend .is-justify-evenly;
  @extend .is-w-100;
  white-space: nowrap;
  &::after,
  &::before{
    content: attr(data-titulo);
    display: inline-block;
    color: $cinza;
    @extend .is-px-40;
    white-space: nowrap;
  }

  @media #{$desktop-m-full} {
    font-size: toVw(60px);
  }
}

[data-titulo]{
  @extend .data-title;
  color: $verde;
  overflow: hidden;
  span{
    @extend .data-title;
    overflow: initial;
  }
}



