
.authors{
  padding-bottom: 150px;
}
.author{
  &.item {
    width: auto;
    position: relative;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
    border-radius: 15px;
    @media #{$mobile} {
      width: toRem(240);
    }
  }
  &__image{
    padding: 0;
    margin: 0;
    border-radius: 15px;
    display: flex;
    height: 100%;
    position: relative;
    img{
      border-radius: 15px;
    }
    &::before{
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.52%, #000000 100%);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      display: block;
      border-radius: 15px;
    }
  }
  &__info{
    position: absolute;
    top: initial;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    width: 79%;
    @extend .is-px-30;
    @extend .is-py-30;
  }
  &__name{
    @extend .is-fz-24;
    @extend .is-fz-s-24;
    color: $branco;
  }
  &__cargo{
    @extend .is-fz-14;
    @extend .is-fz-s-14;
    color: $branco;
  }
  &__button{
    margin-top: 23px;
    margin-top: 10px;
    a{
      background: #FFFFFF;
      border-radius: 5px;
      display: block;
      width: 100%;
      position: relative;
      text-align: center;
      padding: 15px 0;
      color: $verde;
      @extend .is-fz-16;
      @extend .is-t-decoration-none;
    }
  }
}

.author-title{
  position: relative;
    .title{
      color: rgba(215, 216, 221, 0.8);
      position: absolute;
      font-weight: 100;
      // top: 0;
      font-size: toRem(370);
      padding: 0;
      margin: 0;
      line-height: initial;

      // font-size: 13vw;
      top: -200px;

      @media (max-width: 1440px) {
        font-size: toRem(270);
        top: -100px;
      }
      @media #{$desktop} {
        font-size: toRem(170);
        // margin-bottom: toRem(130);
      }
      @media #{$tablet} {
        font-size: toRem(110);
        top: -5px;
      }

      @media #{$mobile} {
        font-size: toRem(85);
        top: 15px;
      }
    }
}
