.button{
  border-radius: 200px;
  text-decoration: none;
  @extend .d-flex;
  @extend .is-align-center;
  @extend .is-justify-evenly;
  @extend .is-px-26;
  @extend .is-py-13;
  @extend .is-fz-16;
  white-space: nowrap;
  @extend .is-fw-100;

  @media #{$desktop-full} {
    font-size: toRem(14);
  }


  @media #{$mobile} {
    font-size: 0px;
    text-indent: -9999px;
    padding: toRem(10);
    svg{
      margin-right: 0 !important;
    }
  }

  svg{
    color: $branco;
    width: 20px;
    height: 20px;
  }
  &.b{
    &--verde{
      background-color: $verde;
      color: $branco;

      &:hover,
      &:focus{
        background-color: $verde_escuro;
      }
    }

    &--header{
      svg{
        margin-right: 15px;
      }
    }
  }
}


.back-home{
  @media #{$desktop} {
    width: auto;
  }
}
