.comments{
  .background-block-comments{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
  }
  &__header{
    margin-bottom: 40px;
  }
  &__title{
    font-size: 27px;
    line-height: 32px;
    font-weight: 100;
    color: #3B4A22;
  }
  &__total{
    font-size: 20px;
    line-height: 24px;
    font-weight: 100;
    color: #AEAEAE;
    @media #{$mobile} {
      font-size: 14px;
    }
  }
  &__list{
    // background: #FFFFFF;
    // border: 1px solid #ECECEC;
    // box-sizing: border-box;
    // box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.05);
    // border-radius: 15px;
    // padding: 30px;

    ol.children{
      .comment-body{
        @extend .background-block-comments;
      }
      ol, ul{
        li{
          padding-left: 3%;
        }
      }
    }
    ul, ol{
      list-style: none;
      margin: 0;
      padding: 0;
      & > li.depth-1{
        // padding: 0 30px 30px;
        // border-bottom: 1px solid rgba(0,0,0,.03);
        @extend .background-block-comments;
        padding-left: 40px !important;
        padding-right: 40px !important;
        margin-bottom: 60px !important;
      }
    }
  }
  .comment{
    &__text{
      p{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        font-weight: 100;
        color: #808080;

      }
    }
    &__info{
      font-size: 13px;
      line-height: 15px;
      color: #808080;
      font-weight: 100;
      @extend .d-flex;
      @extend .is-justify-start;
      @extend .is-align-center;
      & > div{
        margin-right: 20px;
      }
      @media #{$mobile} {
        flex-wrap: wrap;
        justify-content: space-evenly;
        & > div{
          margin-right: 5px;
        }
      }
    }
    &__photo{
      img{
        border-radius: 100px;
      }
    }
    &__name{
      color: #2D3213;
    }
    &__hrs{
      outline: none;
    }
    &__count{
      svg{
        color: #808080;
        width: 11px;
        height: 11px;
        margin-right: 10px;
      }
      @media #{$tablet} {
        span{
          font-size: 0;
        }
      }

    }
    &__replay{
      a{
        color: #3B4A22;
        background: #fff;
        border-radius: 5px;
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        padding: 10px 15px;
        font-weight: 100;
        @media #{$desktop} {
          font-size: 10px;
        }
        @media #{$tablet} {
          font-size: 0;
        }
        @media #{$mobile} {
          font-size: 10px;
        }
        svg{
          color: #3B4A22;
          width: 11px;
          height: 11px;
          margin-right: 10px;
        }
        &:hover,
        &:focus{
          background: #3B4A22;
          color: #FFFFFF;
          svg{
            color: #fff;
          }
        }
      }
    }
    &__edit{
      outline: none;
      a{
        color: #900;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  &__pagination{ outline: none; }
  &__closed{outline: none;}
  &__form{
    .comment-respond{
      @extend .background-block-comments;
      padding-left: 40px !important;
        padding-right: 40px !important;
      .comment-reply-title{
        display: none;
      }
      form{
        font-size: 14px;
        line-height: 12px;
        color: #808080;
        font-weight: 100;
        textarea,
        input{
          font-family: 'Effra';
          width: 96%;
          border: 0;
          padding: 15px;
          font-size: 14px;
          outline: none;
          border:1px solid#fff;
          color: #3B4A22;
          @include placeholder {
            color: #808080;
            font-weight: 100;
            font-size: 14px;
          }
          &:focus,
          &:hover{
            border:1px solid#cdcdcd;
          }
        }
        label, .required, .comment-form-cookies-consent{
          display: none;
        }
        .logged-in-as{
          color: #2D3213;
          font-size: 14px;
          a{
            color: #2D3213;
            text-decoration: none;
            font-size: 14px;
          }
        }
        .comment-notes{
          font-size: 14px;
        }
        .comment-form-comment{
          outline: none;
        }
        .form-submit{
          button{
            background: #3B4A22;
            color: #FFFFFF;
            border-radius: 5px;
            display: inline-block;
            font-size: 14px;
            text-decoration: none;
            padding: 10px 15px;
            font-weight: 100;
            width: auto;
            border: 0;
            svg{
              color: #fff;
              width: 11px;
              height: 11px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.comentarios{
  .sidebar {
    @media #{$mobile} {
      display: none !important;
    }
  }
}
