img, iframe, figure {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
    /*width: 95%;*/
    // margin: 1.5em auto;
    @media #{$desktop-full} {
      margin-left: 5%;
      margin-right: 5%;
    }

    @media (max-width: 1600px) {
      margin-left: 5%;
      margin-right: 5%;
    }


    @media (min-width: 1601px) {
      margin-left: 25%;
      margin-right: 25%;
    }
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;

    &--3{
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      @media #{$desktop-m-full} {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
      }

      @media #{$mobile} {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }
    }

    &--2{
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;

      @media #{$mobile} {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }
    }
}

.item {
  display: inline-block;
   /*
    background: #fff;
    padding: 1.5em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
}

// @media only screen and (min-width: 700px) {
//     .masonry {
//         -moz-column-count: 2;
//         -webkit-column-count: 2;
//         column-count: 2;
//     }
// }

// @media only screen and (min-width: 900px) {
//     .masonry {
//         -moz-column-count: 3;
//         -webkit-column-count: 3;
//         column-count: 3;
//     }
// }

// @media only screen and (min-width: 1100px) {
//     .masonry {
//         -moz-column-count: 3;
//         -webkit-column-count: 3;
//         column-count: 3;
//     }
// }

// @media only screen and (min-width: 1280px) {
//     .wrapper {
//         /*width: 1260px;*/
//         margin: 0 20%;
//     }
// }
