.nav{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

body.home{
  header{
    .menu{
      ul{
        li{
          a{
            color: $verde;
          }
        }
      }
    }
  }
}

header{
  .menu{
    ul{
      li{
        position: relative;
        &.current-menu-item{
          a{
            color: $verde;
            text-shadow: 0px 0px 1px;
          }
        }
        a{
          color: #808080;
          text-decoration: none;
          @extend .is-fz-18;
          @extend .is-fw-100;
          text-shadow: 0px 0px 0;
          &:hover,
          &:focus{
            color: $verde_escuro;
            text-decoration: underline;

          }
        }

        .sub-menu{
          position: absolute;
          background: #fff;
          padding: 30px;
          margin: 0;
          box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
          border-radius: 15px;
          width: 115px;
          left: 50%;
          transform: translate(-50%, 0);
          // display: none;
          opacity: 0;
          z-index: -1;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
          li{
            padding: 6px 0;
          }
        }
        @media #{$desktop-m} {
          &:hover{
            .sub-menu{
              // display: block;
              opacity: 1;
              z-index: 99;
            }
          }
        }
      }
    }

    // Menu mobile
    .nav-open{
      display: none;
    }
    @media #{$desktop} {

      display: -ms-flexbox!important;
      display: flex!important;
      justify-content: flex-end;

      & > div{

        // -webkit-transition: background-color 0.25s ease-in-out;
        // -moz-transition: background-color 0.25s ease-in-out;
        // -o-transition: background-color 0.25s ease-in-out;
        // transition: background-color 0.25s ease-in-out;

        overflow: hidden;
        // display: none;
        position: absolute;
        // left: -110%;
        top: 72px;
        height: 1000vw;
        background: rgba(0, 0, 0, 0);
        z-index: 22;
        width: 0;
        left: 0;
        z-index: -1;

        &.active{
          // display: block;
          // left: 0%;
          background: rgba(0, 0, 0, 0.4);
          z-index: 99;
          width: 100%;
          ul{
            left: 0%;
          }
        }

        ul{

          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;

          flex-flow: column;
          justify-content: normal !important;
          padding-top: 15px;
          width: 260px;
          height: 103vw;
          box-shadow: 0px 50px 100px 37px rgba(0, 0, 0, 0.6);
          background: #fbfffb;
          height: 100%;
          left: -100%;
          position: relative;

          li{
            padding: 10px 15px 10px 30px;

            &.submenu{
              & > a{
                display: none;
              }
            }

            ul.sub-menu{
              padding: 0;
              margin: 0;
              display: block;
              position: relative;
              transform: translate(0, 0);
              left: 0;
              box-shadow: none;
              height: auto !important;
              background: transparent;
              opacity: 1 !important;
              z-index: 99;
              li{
                padding-left: 0;
                padding-top: 0;
                padding-bottom: 15px;
              }
            }
          }
        }
      }
      .nav-open{
        display: block;
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: space-between;
        &::after{
          display: block;
          content: 'Menu';
          font-size: toRem(14);
          font-weight: 100;
          color: $verde;
          margin-left: 10px;
        }
        span{
          display: block;
          width: 20px;
          height: auto;
          border-bottom: 1px solid $verde;
          &::after,
          &::before{
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background: $verde;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.box-social,
.widget.nav_menu-3.widget_nav_menu{
  > h3,
  .title{
    @extend .is-fz-16;
    @extend .is-fw-400;
    @extend .is-ft-uppercase;
    svg{
      display: none;
    }
  }
  ul#menu-siga-nas-redes-sociais{
    margin: 0;
    padding: 0;
  }
  ul,
  #menu-siga-nas-redes-sociais{
    @extend .d-flex;
    @extend .is-justify-between;
    li{
      list-style: none;
      margin: 0;
      padding: 0;
      span{
        font-size: 0;
        text-indent: -9999px;
      }
      a{
        display: inline-block;

        svg{
          color: $branco;
          width: 24px;
          height: 24px;
          padding: 6px;
          border-radius: 100%;
        }

        &:hover,
        &:focus{
          svg{
            color: #fbfffb;
            background: hsla(0,0%,100%,.15);
          }
        }
      }
      // &.instagram{}
      // &.facebook{}
      // &.youtube{}
    }
    &.social{ outline: none;
    }
  }
}



.title-box-arrow{
  @extend .is-fz-16;
  @extend .is-fw-400;
  @extend .is-ft-uppercase;
  border-bottom: 1px solid #fff;
  padding: 0 0 20px;
  svg{
    width: 15px;
    height: 15px;
    float: right;
    color: #fff;
  }
}

.box-editorial{

  .title{
    @extend .title-box-arrow;
  }
  ul{
    li{
      width: 33.33333%;
      @media #{$tablet} {
        width: 49.33333%;
      }
      a{
        display: inline-block;
        @extend .is-t-decoration-none;
        @extend .is-fw-100;
        @extend .is-fz-18;
        @extend .is-fz-s-12;
        line-height: toRem(45);
        color: rgba(255,255,255,.4);
        @media #{$tablet} {
          line-height: toRem(25);
        }
        &:hover,
        &:focus{
          @extend .is-t-decoration;
          color: $branco;
        }
      }
    }
  }
}

.box-ajuda{
  .title{
    @extend .title-box-arrow;
  }

  ul{
    li{
      &.login {
        @extend .title-box-arrow;
      }
      a{
        display: inline-block;
        @extend .is-t-decoration-none;
        @extend .is-fw-400;
        @extend .is-fz-14;
        @extend .is-ft-uppercase;
        line-height: toRem(30);
        &:hover,
        &:focus{
          @extend .is-t-decoration;
        }
      }
    }
  }
}
