.module{
  // &::after {
  //   content: "conteudo";
  //   display: block;
  //   width: 100%;
  //   height: 10px;
  //   z-index: 1;
  //   // position: absolute;
  //   // background: linear-gradient(360deg,#fbfffb 47%,rgba(251,255,251,0));
  // }
  &__title{ outline: none;}
  &__description{outline: none;}
  &__content{
    // @media #{$desktop-m-full} {
    //   padding-left: toRem(80);
    //   padding-right: toRem(80);
    // }


  }
  &__footer{
    &::before {
      content: '';
      display: block;
      box-shadow: 0px 0px 30px 22px $cor_primaria;
      width: 100%;
      height: 10px;
      position: relative;
      margin-top: 0;
      z-index: 1;
      background-color: $cor_primaria;
      // background-color:rgba(251 255 251, 1);
    }
  }
}


.hr-divisor{
  &-1{
    border: 0;
    border-left: 1px solid rgba(59, 74, 34, 0.2);
    height: 116px;
    margin: toRem(40) auto;
    display: block;
    width: 1px;
    position: relative;
    z-index: 2;
  }
}

.s_module{
  &__title{}
  &__description{
    color: $verde;
    &--inner{

      @extend .is-w-25;
      // @extend .is-ws-100;
      @extend .is-ta-center;
      @extend .is-px-20;
      @extend .is-fw-300;

      @media (max-width: 1440px) {
        width: 50%;
      }

      @media #{$tablet} {
        width: 75%;
      }

      @media #{$mobile} {
        width: 100%;
      }
    }
  }
}


.ajusteBoxScrollBottom::before {
  content: '';
  display: block;
  background: transparent;
  width: 100%;
  height: 130px;
  position: absolute;
  left: 0;
  z-index: 1;
  margin-top: -130px;
}
