.m_newsletter{
  &__block{
      p{
        @extend .is-fz-20;
        @extend .is-fz-s-14;
        @extend .is-fw-100;
        color: $verde;
        text-align: center;
      }

      form{
        @extend .is-w-50;
        @extend .is-ws-100;
        @extend .flex-column;
        @extend .d-flex;
        margin: 0 auto;
        text-align: center;

        > p{
          margin-bottom: 40px;
        }

        ._form-title{
          color: #3b4a22;
          font-size: toRem(20);
          font-weight: 100;
          margin-bottom: 30px;
        }

        input{
          &[type="text"]{
            border: 1px solid #AEAEAE;
            box-sizing: border-box;
            border-radius: 5px;
            @extend .is-fz-20;
            @extend .is-fw-100;
            color: #C4C4C4;
            outline: none;
          }
          &[type="submit"]{
            background: #3B4A22;
            border-radius: 5px;
            border: 0;
            color: #fff;
            width: auto;
            margin: 30px auto;
            @extend .is-fz-20;
            @extend .is-fw-100;
            padding-left: 60px;
            padding-right: 60px;
          }
        }
        button{
          &[type="submit"]{
            background: #3B4A22;
            border-radius: 5px;
            border: 0;
            color: #fff;
            width: auto;
            margin: 30px auto;
            @extend .is-fz-20;
            @extend .is-fw-100;
            padding: 15px 60px;
          }
        }

        label{
          display: none;
        }
      }

      .is-small{
        font-size: 12px;
        text-align: center;
        color: #AEAEAE;
      }
  }
}

// Footer
.newsletter,
.widget.block-8.widget_block{
  width: 100%;
  form{
    input{
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;

      font-weight: normal;
      font-size: 15px;
      line-height: 177.3%;
      /* identical to box height, or 27px */


      color: #FFFFFF;

      @include placeholder {
        color: white;
      }
    }
    button{
      &[type="submit"]{
        display: none;
      }
    }
    ._form-title,
    label{
      display: none;
    }
  }
}
