.search{
  @media #{$desktop} {
    width: 100%;
  }
  form{
    -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;

    input{
      &[type='search']{
        background-color: $branco;
        box-shadow: 1px 8px 10px rgba(215, 216, 221, 0.3);
        border-radius: 200px;
        border: 1px solid rgba(0, 0, 0, 0);
        @extend .d-flex;
        text-decoration: none;
        background-color: transparent;
        width: 100%;
        color: $cinza2;
        letter-spacing: 0.01em;

        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;

        // @extend .d-flex;
        // @extend .is-align-center;
        // @extend .is-justify-evenly;
        // @extend .is-ml-15;
        @extend .is-pr-15;
        @extend .is-pl-50;
        @extend .is-py-13;
        @extend .is-fz-16;

        &:focus{
          outline: none;
          box-shadow: 1px 8px 10px rgba(215, 216, 221, 0.9);
          border: 1px solid rgba(0, 0, 0, 0.15);
          width: 300px;
        }
      }
      &[type='submit']{
        display: none;
      }
    }
    svg{
      color: $verde;
      width: 20px;
      height: 20px;
      position: absolute;
      @extend .is-ml-15;
    }
  }
}
