
.title-blog{
  font-size: 200px;
  font-weight: 400;
  text-transform: uppercase;
  color: #D7D8DD;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  margin-left: 150px;
  margin-top: 15px;
  opacity: 0.8;
  @media #{$desktop} {
    margin-top: 0;
  }
  @media #{$tablet} {
    margin-left: 40px;
    margin-top: 0;
  }
  @media #{$mobile} {
    font-size: 110px;
    margin-top: 30px;
  }
  @media #{$mobile-sm} {
    font-size: 100px;
    margin-left: 10px;
  }
}

.slick{
  // display: none;
  &.loading{
    display: flex;
    padding: 160px 0;
    width: 100%;

    article.post.item{
      @media #{$mobile} {
        min-width: 278px;
        width: 278px;
      }
    }
  }
  &-wrapper-ajust{
    @media #{$tablet} {
      padding-left: 0;
      padding-right: 0;
      margin-top: 50px;
    }
  }
  &-arrow {
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center !important;
    z-index: 1;
    width: 145px;
    height: 57%;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0) 38.02%, rgba(0, 0, 0, 0.7) 100%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);

    @media #{$tablet} {
      width: 50px;
      height: 100px;
      border-radius: 5px;
    }
    svg{
      width: 100%;
      height: 30px;
      color: #fff;
    }
    &::before,
    &::after{
      display: none;
    }
    &:hover{
      svg{
        color: #fff;
      }
    }
  }
  &-next {
    right: 0;
    @media #{$tablet} {
      right: 0;
      visibility: hidden;
      border-radius: 100px 0px 0px 100px;
    }
  }
  &-prev {
    left: 0;
    &::before{

    }
    @media #{$tablet} {
      left: 0;
      visibility: hidden;
      border-radius: 0 100px 100px 0;
    }
  }
  & article.post.item{
    margin: 0 10px;
    @media #{$mobile} {
      margin: 0 6px;
    }
    .post__image{
      overflow: hidden;
      height: 225px;
      @media #{$tablet} {
        height: 180px;
      }
      img{
        &.desktop{
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
  &-list{

    padding:160px 145px 160px 145px;
    margin:0 10px 0 10px;

    @media #{$tablet} {
      padding:150px 45px 150px 45px;
      margin:0 0 0 0;
    }

    @media #{$mobile} {
      padding:100px 15px 120px 15px;
      margin:0 0 0 0;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      width: 145px;
      height: 100%;
      z-index: 1;
      position: absolute;
      @media #{$tablet} {
        width: 50px;
        height: 90%;
      }
    }
    &::before {
      left: -5px;
      background: linear-gradient(90deg, rgba(251,255,251,1) 47%, rgba(251,255,251,0) 100%);
      @media #{$tablet} {
        // left: -15px;
        display: none;
      }
    }
    &::after {
      right: -5px;
      background: linear-gradient(90deg, rgba(251,255,251,0) 10%, rgba(251,255,251,1) 50%);
      @media #{$tablet} {
        // right: -15px;
        display: none;
      }
    }
  }

}
