.m{
  &-slide{
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar{
      display: none;
    }

    &.active{
      cursor: grabbing;
      cursor: -webkit-grabbing;
      .item{
        transform: scale(0.98);
      }
    }
    &--scroll{
      @extend .d-flex;
      flex-wrap: nowrap;

      .item{
        flex: 0 0 auto;
        margin:0 15px;
        width: toRem(425);
        // border: 1px solid blue;
      }

      @media (min-width: 1440px) {
        padding-left: 25%;
      }
      @media #{$desktop-m-full} {
        // padding-left: 65px !important;
          padding-left: 19%;
      }
      @media (max-width: 1440px) {
        padding-left: 2%;
      }
      @media #{$desktop-full} {
        // padding-left: 15px !important;
        // padding-left: 2%;
        .item{
          width: toRem(325);
          // border: 1px solid red;
        }
      }
      @media #{$tablet} {
        // padding-left: 0 !important;
        .item{
          width: toRem(290);
          // border: 1px solid blue;
        }
      }
    }
    // &__content{}
    // &__footer{}
  }
}
