.toshare{
  background: #fbfffb;
  padding: 0 6px;
  border-radius: 15px;
  margin-top: 15px;
  &__title{
    @extend .is-fz-14;
    @extend .is-fw-100;
    color: rgba(0, 0, 0, 0.5);
    writing-mode: vertical-rl;
    text-align: center;
    transform:rotate(180deg);
    padding: 10px 4px;
    // background: pink;
    // height:100vh;
  }
  svg{
    color: $verde;
    width: 22px;
    height: 22px;
  }
  &__items{
    list-style: none;
    padding: 0;
    @extend .is-mb-40;
  }
  &__item{
    list-style: none;
    padding: 0;
    @extend .is-mb-30;
  }

}
